
*{
  box-sizing: border-box;
}

@font-face {
    font-family: "CaviarDreams";
    src: url('../fonts/CaviarDreams.ttf');
    font-weight: normal;
}
@font-face{
    font-family: "CaviarDreams";
    src: url('../fonts/CaviarDreams_Bold.ttf');
    font-weight: bold;
}

body {
    text-align: center;
    background-image: url(../images/image-accueil.jpg);
    background-size: cover;
    position: relative;
    padding-top: 25px;
    display:flex;
    flex-direction:column;
    min-height:100vh; /* 100% de la hauteur du viewport et 100vw c'est 100% de la largeur du viewport */
}

.main{
  flex:1;
}



.logo{
    margin: 5px 0;
    margin-bottom: 5px;
    position: absolute;
    top: 10px;
    left: 30px;
}

.menu-principal{
    /*width:60%;*/
    margin: 0 auto;
    display:flex;
    justify-content: center;
    /*max-width: 1024px;
    min-width: 1000px;*/
    border-bottom: 2px solid #f5a905;
    display: inline-block;
}

.menu-principal li{
    display: inline-block;
    font-weight: bold;
    position: relative;
}
.menu-principal li:hover .sous-menu-HE {
    display: inline-block;
}
.menu-principal li:hover .sous-menu-EU{
    display: inline-block;
}
.sous-menu-HE li:not(:last-child), .sous-menu-EU li:not(:last-child){
    border-bottom: solid 1px grey;

}

.sous-menu-HE li, .sous-menu-EU li{
    width: 100%;
}


.sous-menu-HE/*, .sous-menu-EU*/{
    display: none;
    position: absolute;
    left: 0;
    top: 54px;
    font-size: 12px;
}

.sous-menu-EU{
    display: none;
    position: absolute;
    left: 0;
    top: 54px;
    font-size: 12px;
}


.menu-principal a{
    font-family: "CaviarDreams", Arial, sans-serif;
    font-weight: bold;
    display: block;
    text-decoration:none; 
    /*t text-decoration: underline; */
    color: #fff;
    text-transform: uppercase;
    padding: 17px 22px;
    font-size: 15px;
    margin-bottom: 5px;
}

.sous-menu-EU a{
    font-size: 12px;
    border-bottom: none;
}
.sous-menu-HE a{
    font-size: 12px;
    border-bottom: none;
}

/* PAGE ACCUEIL */

.paragraphes{
    display: flex;
    flex-wrap: wrap;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding: 100px 0;
    justify-content: center;
}

.paragraphes p {
    width: 29%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 127px;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 25px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
}



  .lien{
  text-decoration: none;
  font-family: "CaviarDreams", Arial, sans-serif;
  font-weight: bold;
  color: #343434;
}

  .paragraphes p {
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 0.2s ease-in;
  }

  .paragraphes p:hover{
    background-color: rgba(255, 255, 255, 1);
    transform: scale(1.2);
  }
      


.petite-histoire{
    display:inline-block;
    color: #343434;
    font-family: "CaviarDreams", Arial, sans-serif;
    background-color:rgba(255, 255, 255, 0.5);
    padding:50px;
    margin-left:70px;
    margin-right:70px;
    line-height:24px;
}

h2{
    font-size:30px;
    font-weight: bold;
    padding-bottom: 25px;

}



/* PAGE FOOTER */

footer{
background-color:rgba(255, 255, 255,0.8) ;
padding:20px 0px;
margin-top: 30px;
text-align:center;
font-family: "CaviarDreams", Arial, sans-serif;
font-weight: bold;
font-size:14px;
}

footer a{
  text-decoration:none;
  color:#f5a905;
  margin:15px;
}

.titre-footer{
  font-size:16px;
  margin-bottom: 15px;
}

footer ul{
  display:flex;
  text-align:center;
  justify-content:center;
}





/* PAGE CONTACT */

form {
    margin: 100px auto;
    width: 800px;
    padding: 60px 15px;
    border: 3px solid #f5a905;
    border-radius: 20px;
    background-color:rgba(255, 255, 255, 0.5);
}

form div + div {
  margin-top: 16px;
}

label {
  display: inline-block;
  width: 90px;
  text-align: center;
  font-family: "CaviarDreams", Arial, sans-serif;
  font-weight: bold;
  color:black;

}

input, textarea {
  font: 15px sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 10px;
  height:50px;
}

input:focus, textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 150px;
}

.button {
  padding-left: 0px;
}

button {
  margin-left: 90px;
}



/* PAGE HUILES ESSENTIELLES*/

.image-HE{
margin:50px;
}


/* PAGE MEDITATION */

.image-meditation{
  padding-bottom: 20px;
}

.img-meditation-et-texte{
  text-align:center;
  background-color: rgba(255, 255, 255, 0.7);
  display:block;
  margin-top:70px;
  margin-bottom:70px;
  padding:20px;
  font-family: "CaviarDreams", Arial, sans-serif;
  font-size:30px;
}
.conseils-meditation{
    text-decoration:none;
    font-family: "CaviarDreams", Arial, sans-serif;
    font-size: 15px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    color: black;
}
 

 
/* PAGE MENTIONS LEGALES */

.design-mentions-legales{
    margin: 100px;
    padding:50px;
    font-family: "CaviarDreams", Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.7);
    display:block;
}

.paragraphes-mentions-legales{
  line-height: 30px;
  margin:30px;
}

.element.style{
  margin-bottom:15px;
}

/* Tablettes */
@media screen and (max-width: 960px) {
  /*body::before { Affiche dans quel @media query on rentre en haut à gauche de la fenêtre
    content: "< 960px";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: red;
    color: #FFF;
    z-index: 99999999;
  }*/

  .only-desktop {
    display: none !important;
  }

  .menu-principal {
    flex-direction: column;
  }

  .menu-principal li {
    display: block;
  }

  .paragraphes p {
    width: 46%;
  }
}

/* Mobiles */
@media screen and (max-width: 650px) {
  /*body::before { Affiche dans quel @media query on rentre en haut à gauche de la fenêtre
    content: "< 600px";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: green;
    color: #FFF;
    z-index: 99999999;
  }*/

  .paragraphes p {
    width: 96%;
  }
}
